$artificial-cerulean:#088ca5;
$bermuda:#77c8d7;
$black-grey:#313638;
$cloud-grey: #ebebeb;
$deep-ocean:#27212c;
$deep-pink:#bc3183;
$dove-gray:#686868;
$grey: #373c3f;
$grout-grey:#515151;
$hyacinth:#9282a0;
$ocean-blue:#0ca3b9;
$pale-pink: #eea9d1;
$shark:#202529;
$silver-grey:#afb1b2;
$sky-blue:#a5d1db;
$turquoise:#d3ecf2;
$white:#ffffff;


$color-banner-button:$white;
$color-background-banner: $deep-ocean;
$color-background-banner-button: $deep-pink;
$color-background-body: $cloud-grey;
$color-background-features: $ocean-blue;
$color-background-drawerToggle: $shark;
$color-background-header: $grey;
$color-background-menu: $black-grey;
$color-example-article-title: $artificial-cerulean;
$color-example-article-title-hover: $bermuda;
$color-site-navigation-underline: $dove-gray;
$color-text-banner: $hyacinth;
$color-text-banner-button-hover: $pale-pink;
$color-text-body: $grout-grey;
$color-text-header: $cloud-grey;
$color-text-hover: $silver-grey;
$color-text-hover-header: $silver-grey;
$color-text-features-header: $white;
$color-text-features-content: $sky-blue;
$color-text-features-link-hover: $turquoise;
